
bkrs_codes/weights_mimport.out
bkrs_codes/weights_mimport.m
bkrs_codes/waldweight.m
bkrs_codes/table_theta2.out
bkrs_codes/table_theta2.m
bkrs_codes/table_b.out
bkrs_codes/table_b.m
bkrs_codes/table4_report.m
bkrs_codes/table4.out
bkrs_codes/table4.m
bkrs_codes/table3.out
bkrs_codes/table3.m
bkrs_codes/table2_report.m
bkrs_codes/table2.out
bkrs_codes/table2.m
bkrs_codes/table1_report.m
bkrs_codes/table1.out
bkrs_codes/table1.m
bkrs_codes/simulations/waldweight.m
bkrs_codes/simulations/theta2t.m
bkrs_codes/simulations/sim8p.out
bkrs_codes/simulations/sim8p.m
bkrs_codes/simulations/sim8.out
bkrs_codes/simulations/sim8.m
bkrs_codes/simulations/sim7p.out
bkrs_codes/simulations/sim7p.m
bkrs_codes/simulations/sim7.out
bkrs_codes/simulations/sim7.m
bkrs_codes/simulations/sim6p.out
bkrs_codes/simulations/sim6p.m
bkrs_codes/simulations/sim6.out
bkrs_codes/simulations/sim6.m
bkrs_codes/simulations/sim5p.out
bkrs_codes/simulations/sim5p.m
bkrs_codes/simulations/sim5.out
bkrs_codes/simulations/sim5.m
bkrs_codes/simulations/sim4p.out
bkrs_codes/simulations/sim4p.m
bkrs_codes/simulations/sim4.out
bkrs_codes/simulations/sim4.m
bkrs_codes/simulations/sim3p.out
bkrs_codes/simulations/sim3p.m
bkrs_codes/simulations/sim3.out
bkrs_codes/simulations/sim3.m
bkrs_codes/simulations/sim2p.out
bkrs_codes/simulations/sim2p.m
bkrs_codes/simulations/sim2.out
bkrs_codes/simulations/sim2.m
bkrs_codes/simulations/sim1p.out
bkrs_codes/simulations/sim1p.m
bkrs_codes/simulations/sim1.out
bkrs_codes/simulations/sim1.m
bkrs_codes/simulations/rf.txt
bkrs_codes/simulations/readme.txt
bkrs_codes/simulations/quadconstr5.m
bkrs_codes/simulations/quadconstr2.m
bkrs_codes/simulations/quadconstr1.m
bkrs_codes/simulations/quadconstr.m
bkrs_codes/simulations/nw.m
bkrs_codes/simulations/mustar5.m
bkrs_codes/simulations/mustar4.m
bkrs_codes/simulations/multicomps1.m
bkrs_codes/simulations/multicomps.m
bkrs_codes/simulations/hkm.txt
bkrs_codes/simulations/grs.m
bkrs_codes/simulations/DATABKRS.mat
bkrs_codes/Sharpe.m
bkrs_codes/rf1.txt
bkrs_codes/rf.txt
bkrs_codes/readme.txt
bkrs_codes/quarterlytraded.m
bkrs_codes/quarterlynontraded.m
bkrs_codes/premia.m
bkrs_codes/orig.txt
bkrs_codes/olsgmm.m
bkrs_codes/nw.m
bkrs_codes/nonnested_mima.m
bkrs_codes/nonnested_example.m
bkrs_codes/nonnested.m
bkrs_codes/nonnested.asv
bkrs_codes/nested_mima.m
bkrs_codes/nested.m
bkrs_codes/multicomp.m
bkrs_codes/liquidity/weights_mimport.out
bkrs_codes/liquidity/weights_mimport.m
bkrs_codes/liquidity/waldweight.m
bkrs_codes/liquidity/table_theta2.out
bkrs_codes/liquidity/table_theta2.m
bkrs_codes/liquidity/table4_report.m
bkrs_codes/liquidity/table4.out
bkrs_codes/liquidity/table4.m
bkrs_codes/liquidity/table3.out
bkrs_codes/liquidity/table3.m
bkrs_codes/liquidity/table2_report.m
bkrs_codes/liquidity/table2.out
bkrs_codes/liquidity/table2.m
bkrs_codes/liquidity/table1_report.m
bkrs_codes/liquidity/table1.out
bkrs_codes/liquidity/table1.m
bkrs_codes/liquidity/premia.m
bkrs_codes/liquidity/olsgmm.m
bkrs_codes/liquidity/nw.m
bkrs_codes/liquidity/nonnested_mima.m
bkrs_codes/liquidity/nonnested.m
bkrs_codes/liquidity/nested_mima.m
bkrs_codes/liquidity/nested.m
bkrs_codes/liquidity/multicomp.m
bkrs_codes/liquidity/grs.m
bkrs_codes/liquidity/DATABKRS.mat
bkrs_codes/hkm.txt
bkrs_codes/grs.m
bkrs_codes/DATABKRS.mat
FF10Industry.xlsx
